:host {
  position: absolute;
  background-color: tomato;
  box-sizing: border-box;
  border: 1px solid black;
  transition: background-color 500ms;
  &.dragging {
    background-color: white;
    z-index: 1;
  }
}
