<div class="flex">
  <div class="header">
    <img class="image" src="assets/angular-icon.svg">
    <div class="text">Easy Box Layout</div>
  </div>
</div>

<div class="container">
  <ez-box-layout gutter="5px">
    <ez-box height="100px" width="25%">
      <div>1</div>
    </ez-box>
    <ez-box height="200px" width="25%">
      <div>2</div>
    </ez-box>
    <ez-box height="100px" width="25%">
      <div>3</div>
    </ez-box>
    <ez-box height="100px" width="25%">
      <div>4</div>
    </ez-box>
    <ez-box height="100px" width="25%">
      <div>5</div>
    </ez-box>
    <ez-box height="100px" width="50%">
      <div>6</div>
    </ez-box>
  </ez-box-layout>
</div>
