<div class="flex">
  <div class="header">
    <img class="image" src="assets/angular-icon.svg">
    <div class="text">Easy Box Layout</div>
  </div>
</div>

<div class="flex">
  <div class="container">
    <ez-box-layout gutter="10px" lock="true">
      <ez-box height="100px" width="25%"></ez-box>
      <ez-box height="100px" width="50%"></ez-box>
      <ez-box height="200px" width="25%"></ez-box>
      <ez-box height="100px" width="25%"></ez-box>
      <ez-box height="100px" width="25%"></ez-box>
      <ez-box height="100px" width="25%"></ez-box>
      <ez-box height="100px" width="75%"></ez-box>
      <ez-box height="100px" width="25%"></ez-box>
      <ez-box height="100px" width="100%"></ez-box>
    </ez-box-layout>
  </div>
</div>
